.ItemForColor {
    font-size: 40px;
}

.ItemSpan {
    color: #000;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 5px;
}

.button {
    margin: 0px 10px;
}








/* CSS Modules */
/* 1. Localized class names to avoid global conflicts.
2. Styles are scoped to individual components.
3. Helps in creating component-specific styles.
4. Automatically generates unique class names.
5. Promotes modular and maintainable CSS.
6. Can use alongside global CSS when needed. */